<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399795447249-57csd5n6tetakv1qu4lfpdi8d7co4ord.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399795447249-57csd5n6tetakv1qu4lfpdi8d7co4ord</string>
	<key>API_KEY</key>
	<string>AIzaSyCiEO55LscjHjkWh57vUkH_odEBKEpNinM</string>
	<key>GCM_SENDER_ID</key>
	<string>399795447249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devbrunolopes.WavesCheck</string>
	<key>PROJECT_ID</key>
	<string>finalwavescheck</string>
	<key>STORAGE_BUCKET</key>
	<string>finalwavescheck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399795447249:ios:48113cbc3bd4c608a36cf0</string>
</dict>
</plist>